<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=yes">
	<title>slideUI</title>
	<link rel="stylesheet" type="text/css" href="./statics/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>

<body>
	<div class="app-layout">
		<div class="side-bar">
			test
		</div>
		<div id="app" class="main-contents" v-bind:class="{threadOpendisplay: thread_open}">
			<div class="two-container" v-bind:class="{threadOpen: thread_open}">
				<div class="chats-layout">
					<div class="containier">
						<div class="chat_container">
							<div v-if="messages.length">
								<section class="card" v-for="(message, index) in messages">
									<div class="thumbnail">
										<img src="">
									</div>
									<div class="message-container">
										<div class="user-name-layout">
											<div class="user-name">
												{{ message.from }}
												<span @click="openThread(index)">→</span>
												<span @click="deleteMessage(index)">×</span>
											</div>
										</div>
										<div class="text">
											<p>{{ message.text }}</p>
										</div>
										<div class="option" v-if="message.child.length">
											<span class="setting" @click="openThread(index)">スレッドを表示する</span>
										</div>
									</div>
								</section>
							</div>
							<div v-else>
								<p class="noFire">No Message</p>
							</div>
						</div>
					</div>
				</div>
				<div class="input-layout">
					<div class="new-form">
						<div class="new-form-container">
							<form @submit.prevent="addMessage">
								<textarea v-model="newMessage"></textarea>
								<button type="submit">
									<svg width="100%" height="100%" viewBox="0 0 16 16" class="bi bi-caret-right-fill"
										fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
									</svg>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="thread-container" v-if="thread_open">
				<div class="chats-layout">
					<div class="containier">
						<div class="chat_container">
							<section class="card">
								<div class="thumbnail">
									<img src="">
								</div>
								<div class="message-container">
									<div class="user-name-layout">
										<div class="user-name">
											{{ thread_messages.from }}
											<!-- <span @click="openThread(index2)">→</span>
											<span @click="deleteMessage(index2)">×</span> -->
										</div>
									</div>
									<div class="text">
										<p>{{ thread_messages.text }}</p>
									</div>
									<div class="option" v-if="thread_messages.child.length">
										<span class="setting" @click="openThread(index)">スレッドを表示する</span>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
				<div class="input-layout">
					<div class="new-form">
						<div class="new-form-container">
							<form @submit.prevent="addMessage">
								<textarea v-model="newMessage"></textarea>
								<button type="submit">
									<svg width="100%" height="100%" viewBox="0 0 16 16" class="bi bi-caret-right-fill"
										fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
									</svg>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script> -->
	<script src="./statics/js/main.js"></script>
</body>

</html>