@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

/* ここにテーマとなるカラーを変更する */
:root {
	--main-bg-color: white;
	--main-chara-color: #FF3939;
	--chat-bg-color: white;
	--chat-border-color: cyan;
  }
	 
div{
	display: block;
}
*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}

html,body{
	height: 100%;
	margin: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
html{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.app-layout{
	display: flex;
}
.side-bar{
	width: 300px;
    background: #4a4141;
    height: 100vh;
    padding: 20px;
}

.main-contents{
	width: 100%;
	height: 100vh;
	background: #f1f1f1;
}
h1,h2{
	margin: 0;
	/* width: 100%; */
	height: 80px;
	background-color: #2E2E2E;
	border-bottom: solid 2px #707070;
}
@media only screen and (max-width: 750px) {
	h1,h2,p{
		margin: 0;
	}
	h1,h2{
		background-color: #2E2E2E;
		border-bottom: solid 2px #707070;
	}
}

html,body{
	background-color: var(--main-bg-color);
}
header{
	z-index: 0;
	width: 100%;
	height: 70px;
	color: var(--main-chara-color);
	font-weight: 800;
	font-family: 'Kaushan Script', cursive;
	/* background-color: #2E2E2E;
	border-bottom: solid 2px #707070; */
}
header h1{
	line-height: 70px;
	text-align: center;
}

.main-contents .two-container{
	height: 100%;
}
.main-contents .chats-layout{
	overflow: scroll;
    height: 90%;
}
.input-layout{
	height: 10%;
	/* position: absolute; d */
}

.container{
	height: 100%;
	display: block;
}
.chat_container{
	margin-left: 20%;
	margin-right: 20%;
}
@media only screen and (max-width: 750px) {
	.chat_container{
		margin: 0;
	}
}
.noFire{
	margin-top: 100px;
	text-align: center;
	color: var(--main-chara-color);
}
.card{
	/* width: calc(100% - 40px);
	margin: 30px auto 0;
	padding: 25px 15px 15px;
	box-sizing: border-box;
	background-color: var(--chat-bg-color);
	border: solid 1.5px var(--chat-border-color);
	border-radius: 7px; */
	display: flex;
    padding: 8px;
}
.thumbnail{
	margin-right: 16px;
}
.thumbnail img {
    width: 50px;
    height: 50px;
	border-radius: 10px;
}
.user-name{
	font-weight: 700;
}
.card .text{
	padding-bottom: 15px;
}
.card .text p{
	color: brack;
	font-size: 18px;
}
.card .option{
	height: 30px;
	padding-top: 15px;
	border-top: solid 1px #707070;
	position: relative;
}
.card .option .setting{
	height: 30px;
	color: brack;
	position: absolute;
	left: 0;
}
.card .option .reaction{
	width: 36px;
	position: absolute;
	left: calc(50% - 13px);
	display: flex;
	align-items: baseline;
}
.card .option .reaction svg{
	width: 22px;
}
.card .option .reaction span{
	font-size: 14px;
	color: brack;
}
.turnRed{
	color: var(--main-chara-color)!important;
}
.fire {
	fill: #fff;
}
.card .fire {
	fill: brack;
}
.fire:hover{
	fill: var(--main-chara-color);
}
.burn{
	fill: var(--main-chara-color);
}

.new{
	width: 70px;
	height: 70px;
	border: solid 3px #fff;
	/* border-radius: 50px; */
	/* background-color: #2E2E2E; */
	box-shadow: 0px 2px 5px rgba(255,255,255,0.8);
	position: fixed;
	bottom: 20px;
	right: 20px;
}
.new:hover{
	border: solid 3px var(--main-chara-color);
}
.new-form{
	/* width: 100vw; */
	/* height: 100vh; */
	/* background-color: white; */
	/* position: fixed; */
	/* top: 0;
	left: 0; */
	height: 100%;
	/* opacity: 30%; */
	/* display: none; */
}

.new-form-container{
	padding: 10px;
	height: 100%;
}
.new-form form{
	height: 100%;
}

.new-form form textarea{
	width: 80%;
	height: 100%;
	/* padding: 15px; */
	/* color: #fff; */
	font-size: 18px;
	/* background-color: #2e2e2e; */
	box-sizing: border-box;
}
.new-form form button {
	width: 70px;
	position: fixed;
	/* top: 350px; */
	/* left: calc((100% - 70px)/2); */
}
.modalOpen{
	opacity: 1;
	display: block;
	transition-duration: 5s;
}

.settingModal{
	width: 100vw;
	padding: 20px;
	background-color: #2E2E2E;
	z-index: 10;
	position: fixed;
	bottom: 0;
	left: 0;
	display: none;
}

.settingModal span{
	color: #fff;
	font-size: 30px;
	position: fixed;
	bottom: 60px;
	left: 10px;
}
.settingModal p{
	color: #fff;
}
.settingOpen{
	display: block;
}

.threadOpen{
	width: 60%;
}